<p><%= @player_1_name %> vs. <%= @player_2_name %>: 1000HP</p>

<!--
<%= @player2%>: 1000HP -->

<!-- <form method="post" action="/attack">
<input type="submit" value="Attack!">
</form> -->

<a href="/attack">Attack!</a>
